<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WiiController.Properties.Settings.WiiConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=Wii;Persist Security Info=True;User ID=sa;Password=@dmin123"
            providerName="System.Data.SqlClient" />
        <add name="WiiController.Properties.Settings.WiiTmpConnectionString"
            connectionString="Data Source=127.0.0.11;Initial Catalog=Wii;Persist Security Info=True;User ID=sa;Password=@dmin123" />
        <add name="WiiController.Properties.Settings.WiiConnectionStringShortTimeOut"
            connectionString="Data Source=127.0.0.11;Initial Catalog=Wii;Persist Security Info=True;User ID=sa;Password=@dmin123" />
    </connectionStrings>
</configuration>