<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wii.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Wii.Properties.Settings>
            <setting name="ThreeDSTSV_出力パス" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\3DS\all\</value>
            </setting>
            <setting name="ThreeDSTSV_ランキングボード用パス" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\3DS\rankingboard\</value>
            </setting>
            <setting name="ThreeDSTSV_歌手変更履歴取得元歌手TSVパス" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\3DS\TSV_Bak\all\3DS歌手.tsv</value>
            </setting>
            <setting name="ThreeDSTSV_歌手取込配置ファイル" serializeAs="String">
                <value>\\xgmmsxdd01\Maprj\xing\3DS\tbl_3DS前回歌手.txt</value>
            </setting>
            <setting name="ThreeDSTSV_歌手変更履歴取得元コンテンツTSVパス" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\3DS\TSV_Bak\all\3DSコンテンツ.tsv</value>
            </setting>
            <setting name="ThreeDSTSV_コンテンツ取込配置ファイル" serializeAs="String">
                <value>\\xgmmsxdd01\Maprj\xing\3DS\tbl_3DS前回コンテンツ.txt</value>
            </setting>
            <setting name="ThreeDSTSV_変換バッチファイル" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\3DS\3DS_TSV変換.vbs</value>
            </setting>
            <setting name="ThreeDSTSV_変換バッチログファイル" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\3DS\処理結果.log</value>
            </setting>
            <setting name="ThreeDSTSV_ログファイル" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\3DS\all\TSV出力結果.txt</value>
            </setting>
            <setting name="ThreeDSTSV_収集リストパス" serializeAs="String">
                <value>C:\3DS_up\</value>
            </setting>
            <setting name="UTSV出力_出力パス" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\orchestra\All\</value>
            </setting>
            <setting name="UTSV出力_ログファイル" serializeAs="String">
                <value>\\eb-server\x-drv\K-tai\digidoco\upload\tsv\orchestra\TSV出力結果.txt</value>
            </setting>
            <setting name="UTSV出力_入力パス" serializeAs="String">
                <value>C:Access\Wii\</value>
            </setting>
            <setting name="UTSV出力_おすすめ曲" serializeAs="String">
                <value>C:\maprj\Wii\recommend_song_</value>
            </setting>
            <setting name="UTSV出力_総合ランキング" serializeAs="String">
                <value>C:\maprj\Wii\cdn_wjk_total_month_150_</value>
            </setting>
            <setting name="UTSV出力_年間ランキング" serializeAs="String">
                <value>C:\maprj\Wii\year_ranking_.txt</value>
            </setting>
            <setting name="UTSV出力_ランキングファイル" serializeAs="String">
                <value>C:\maprj\Wii\ranking_week</value>
            </setting>
            <setting name="UTSV出力_ナビジャンル曲表" serializeAs="String">
                <value>C:\maprj\Wii\NAVIDB資料\TBL_GENRE_SONG.txt</value>
            </setting>
            <setting name="UTSV出力_ナビジャンル歌手表" serializeAs="String">
                <value>C:\maprj\Wii\NAVIDB資料\TBL_GENRE_SINGER.txt</value>
            </setting>
            <setting name="UTSV出力_ナビ楽曲マスタ表" serializeAs="String">
                <value>C:\maprj\Wii\NAVIDB資料\TBL_SONG.txt</value>
            </setting>
            <setting name="UTSV出力_ナビ選曲番号表" serializeAs="String">
                <value>C:\maprj\Wii\NAVIDB資料\TBL_SONG_CODE.txt</value>
            </setting>
            <setting name="UTSV出力_比較元歌手TSVパス" serializeAs="String">
                <value>C:\maprj\Wii\WU歌手.tsv</value>
            </setting>
            <setting name="UTSV出力_歌手削除チェックファイルパス" serializeAs="String">
                <value>C:\maprj\Orch\歌手削除チェックファイル.txt</value>
            </setting>
            <setting name="CONNECT_DDETimeout" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="CONNECT_CmmandTimeOut" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="Wii_WorkFolder" serializeAs="String">
                <value>Work</value>
            </setting>
            <setting name="ImportRecommendSongServerFilePath" serializeAs="String">
                <value>\\{0}\Maprj\xing\orchestra\TBL_RECOMMENDSONG_CAPIO.txt</value>
            </setting>
            <setting name="CONNECT_DDETimeout_CheckConnecting" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UTSVRecommendSongServerFilePath" serializeAs="String">
                <value>\\{0}\Maprj\xing\orchestra\TBL_RecommendSong.txt</value>
            </setting>
            <setting name="CONNECT_Server" serializeAs="String">
                <value>xgmmsxdd01</value>
            </setting>
            <setting name="CONNECT_DBName" serializeAs="String">
                <value>Wii</value>
            </setting>
            <setting name="CONNECT_UserID" serializeAs="String">
                <value>wiiAdmin</value>
            </setting>
            <setting name="CONNECT_Password" serializeAs="String">
                <value>W_iiAdmin00000</value>
            </setting>
        </Wii.Properties.Settings>
    </userSettings>
</configuration>